.starter_img {
  margin-top: 223px;
  width: 200px;
  height: 229px;
}

.starter_wrapper {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text_block_subtitle {
  width: 267px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.text_block_title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.started_btn {
  width: 326px;
  height: 66px;
  background-color: rgb(63, 191, 191);
  border-radius: 10px;
  position: absolute;
  border: none;
  bottom: 65px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
